<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.0-beta1-dist/css/bootstrap.css') }}">
        <script src="{{ url_for('static', filename='bootstrap-5.2.0-beta1-dist/js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='wheelnav.js-1.8.0/raphael.min.js') }}"></script>
        <script src="{{ url_for('static', filename='wheelnav.js-1.8.0/wheelnav.js') }}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div class="container">
        <nav>
            <div id="divWheel" data-wheelnav
                data-wheelnav-colors="#ADD8E6"
                data-wheelnav-slicepath="DonutSlice"
                data-wheelnav-navangle="270"
                data-wheelnav-titleheight="30"
                data-wheelnav-init>
                <div data-wheelnav-navitemimg="{{ url_for('static', filename='icons/home.svg') }}"><a href="/">Home</a></div>
                <div data-wheelnav-navitemimg="{{ url_for('static', filename='icons/shopping_cart.svg') }}"><a href="/cart/">Cart</a></div>
            </div>
        </nav>
        <div id="loginPopup" class="d-none" style="width: 50rem; z-index: 1">
        {% if loggedIn == False: %}
           <div class="row row-cols-1 row row-cols-lg-2">
            <div class="col">
                <h2>Sign in</h2>
                <form action="login" method="post">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input type="password" class="form-control" name="password" Placeholder="Password" aria-label="Password">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Log in" class="btn btn-primary">
                </form>
            </div>
            <div class="col">
                <h2>Sign up</h2>
                <form action="signup" method="post">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input type="password" class="form-control" placeholder="Password" name="password" aria-label="Password">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input type="password" class="form-control" placeholder="Confirm password" aria-label="Confrim password">
                        </div>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <input type="email" class="form-control" placeholder="Email" name="email" aria-label="Email">
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Signup" class="btn btn-primary">
                </div>
            </form>
            </div>
        </div>
        {% else: %}
        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" href="logout/">Logout</a>
            </div>
        </div>
        {% endif %}
        </div>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      </div>
    </body>
</html>